<!doctype html>
<title>TailorMade Games</title>

<!--
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello World!</h1>
{% endif %} 
-->

<h1> Hello!!!</h1>
 
<p> Please click <a class="/login" href="/login">here</a> to visit our email stats collection page. 
</p>

<p> 
 You will be asked to login with your CMail/Gmail account. 
 </p>
 <p>
 Once you give us permission to access your account, please wait a moment (upto 2 mins) while the tool processes the data. 
 </p>
 <p>
Thank you for your time.
 </p>

 <a href="/login" style="font-size:2em">CONTINUE</a>

<!--
<p> go to <a class="/sql" href="">sql page</a> to see all emails in our db.
</p>
-->
